@media screen and (min-width: 540px){
    .form-control::-webkit-input-placeholder{
        color: transparent;
    }
    .form-control::-moz-placeholder {
        color: transparent;
    }
    .form-control::-ms-input-placeholder{
        color: transparent;
    }
}

@media screen and (max-width: 540px){
    .form-label{
        /*display: none;*/
    }
}